@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(Media/Bubble.svg);
  color: #444;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#theme {
  position: absolute;
  top: 46px;
  right: 100px;
  align-items: center;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

#github {
  position: absolute;
  top: 40px;
  right: 40px;
}

#github:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}

#theme:hover {
  background: #fff;
  color: #111;
  transition: 0.8s;
}

h1 {
  color: rgb(247, 247, 247);
  font-size: 10rem;
  text-align: center;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  font-size: 2rem;
  color: #444;
  padding: 1rem 4.5rem;
  display: block;
  width: 100%;
  cursor: pointer;
}

.input::placeholder {
  color: #c4c4c4;
}

.todos {
  background-color: #fff;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #b26eff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b5b5b5;
  text-decoration: line-through;
}

small {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

h1,
form,
small {
  display: inline-block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* When the browser is max 600px or below */
@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 7rem;
  }
  form {
    width: 360px;
  }
  .input::placeholder {
    font-size: 1.5rem;
    text-align: center;
  }
}

/* When the browser is max 320px or below */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 5rem;
  }
  form {
    width: 300px;
  }
  .input::placeholder {
    font-size: 1.3rem;
    text-align: center;
  }
}
